* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/background.jpg);
    overflow: hidden;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}

.card {
    background-image: url(img/fifa\ card.png);
    width: calc(100% / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.profile_pic {
    width: 70%;
    position: absolute;
    right: 8%;
    top: 12%;
}

.score,
.role,
.name,
.pac,
.sho,
.pas,
.dri,
.def,
.phy {
    font-weight: bold;
    color: goldenrod;
    position: absolute
}

.score {
    left: 19%;
    top: 17%;
    font-size: 40px;
}

.role {
    left: 19%;
    top: 27%;
    font-size: 25px;
}

.name {
    left: 50%;
    top: 57%;
    transform: translateX(-50%);
    font-size: 30px;
    word-break: keep-all;
    width: 100%;
    text-align: center;
}

.flag {
    width: 15%;
    position: absolute;
    left: 19%;
    top: 37.5%;
}

.team {
    position: absolute;
    left: 22%;
    width: 8%;
    top: 47%;
}

img[src*="INTER"] {
    width: 13%;
    left: 19%;
}

img[src*="NAPOLI"] {
    width: 13%;
    left: 19%;
}

.pac,
.sho,
.pas {
    left: 21.5%;
    font-size: 19px;
}

.dri,
.def,
.phy {
    left: 58.5%;
    font-size: 19px;
}

.dri {
    bottom: 25%;
}

.def {
    bottom: 19%;
}

.phy {
    bottom: 13%;
}

.pac {
    bottom: 25%;
}

.sho {
    bottom: 19%;
}

.pas {
    bottom: 13%;
}